<h2>Index</h2>

<ul>
  <% posts.each(function (post) { %>
    <li><a href="#/posts/<%= post.id %>" ><%= post.get('title') %></a></li>
    <button class="delete" data-id="<%= post.id %>">Delete</button>
  <% }); %>
</ul>