// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  float: left;
  width: 300px;
  height: 300px;
}

.content{
  float: left;
  width: 500px;
  height: 300px;
}